ion-card {
    --background: #e7eefb;
    color: black;
}

ion-grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 5px;
}

ion-row {
    padding: 0;
    margin: 0;
}

ion-img {
    width: 100px;
}

.price_text {
    font-size: 25px;
    font-weight: bold;
}

ion-text.price {
    color: #ff2525
}

.car_make {
    font-size: 25px;
    font-weight: bold;
    
}

#viewbtn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    --background: #ffc03d;
}