<ion-header [translucent]="true">
  <ion-toolbar class="toolbarlogo">
    <ion-img class="logo" slot="start" src="assets/logo-white.png" alt="Flora Car Rental"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="car.car_images[0]; else noImage">
    <swiper-container #swiper [loop]="true" [pagination]="true" [zoom]="true">
      <swiper-slide *ngFor="let image of car.car_images">
        <div class="swiper-zoom-container">
          <img [src]="image.path" />
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
  <ng-template #noImage>
    <ion-img src="assets/cars/default-car.jpg" alt="Car Image"></ion-img>
  </ng-template>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text class="price">
          <span class="price_text">${{ car.price }} </span><span>/day</span>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <ion-button fill="solid" class="yellow-btn" (click)="orderCar(car.car_id)">Order</ion-button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col size="3" size-sm="2">
        Make:
      </ion-col>
      <ion-col>
        {{ car.make }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" size-sm="2">
        Model:
      </ion-col>
      <ion-col>
        {{ car.model }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" size-sm="2">
        Location:
      </ion-col>
      <ion-col>
        {{ car.location }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" size-sm="2">
        Car Type:
      </ion-col>
      <ion-col>
        {{ car.car_type }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" size-sm="2">
        Fuel Type:
      </ion-col>
      <ion-col>
        {{ car.fuel_type }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" size-sm="2">
        Vendor:
      </ion-col>
      <ion-col>
        {{ car.vendor.vendor_name }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" size-sm="2">
        Mileage:
      </ion-col>
      <ion-col>
        {{ car.mileage }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" size-sm="2">
        Description:
      </ion-col>
      <ion-col>
        {{ car.description }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>