swiper-container {
    height: 300px;
    --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
    --swiper-pagination-color: #ffc03d;
}

swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price_text {
    font-size: 25px;
    font-weight: bold;
}

ion-text.price {
    color: #00966B;
}

#yellow-btn {
    --background: #ffc03d;
}

.cell-field {
    border-color: lightgray;
    border-width: .01em;
    border-style: solid;
    background-color: #F9F2EC
}

.cell-value {
    border-color: lightgray;
    border-width: .01em;
    border-style: solid;
}