<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cardetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-text color="primary">
          ${{ car?.price }}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        Make: {{ car?.make }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        Model: {{ car?.model }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        Pick up at: {{ car?.location }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        Car Type: {{ car?.car_type }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        Fuel Type: {{ car?.fuel_type }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        Mileage: {{ car?.mileage }}
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>