<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Flora Car Rental</ion-title>
    <ion-title size="small">The trusted car rental platform</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar color="light" placeholder="Enter a pickup location"></ion-searchbar>

  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="sortList('ordertimes', 'desc')">Popular</ion-button>

      <ion-button fill="clear" (click)="sortList('price', 'desc')">
        Price
        <ion-icon [name]="priceIconName"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="sortList('mileage', 'desc')">Mileage</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="solid" slot="end" (click)="showAlert()" id="car-filter">
        Filter
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>
      <!-- <ion-alert trigger="car-filter" header="Select the Car Type" [buttons]="alertButtons"
        [inputs]="alertInputs"></ion-alert> -->
    </ion-buttons>
  </ion-toolbar>

  <div *ngFor="let car_item of cars">
    <app-car [car]="car_item"></app-car>
  </div>
</ion-content>