ion-grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 5px;
}

ion-row {
    padding: 0;
    margin: 0;
}

.price_text {
    font-size: 25px;
    font-weight: bold;
    color: #ff2525;
}

.car_make {
    font-size: 25px;
    font-weight: bold;
    
}

#btndiv {
    text-align: center;
    margin-top: 20px;
}