<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <img src="assets/logo-white.png" height="80">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fs-4" aria-current="page" routerLink="/car" routerLinkActive="active">Car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" routerLink="/vendor" routerLinkActive="active">Vendor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-4" routerLink="/orders" routerLinkActive="active">Order</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>