<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Select a car
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <capacitor-google-map #map id="google-map"></capacitor-google-map>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-lable>
            <h1>{{ heading }}</h1>
            {{ description }}
          </ion-lable>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>